# Obsidian files
.obsidian/workspace.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.trash/

# Exclude Max directory
Max/

# OS files
.DS_Store
Thumbs.db 
发布通知.md
版本描述-技术版.md
版本描述-简洁版.md
版本说明.md
.obsidian/plugins/advanced-table.zip
.obsidian/plugins/obsidian-table-x.zip
CHANGELOG.md
